################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
.json
/EC-Billing/appsettings.json
/EC-Billing/appsettings.Development.json
